<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>eKom - Single Product eCommerce HTML Template</title>
    <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/assets/fonts/icon/fontawesome-free-6.0.0-web/css/all.css">
    <link rel="stylesheet" href="/assets/css/variables.css">
    <link rel="stylesheet" href="/assets/css/style.css">
    <link rel="stylesheet" href="/assets/css/responsive.css">
</head>

<body>
    <div id="main">
        <!-- Header Login Page -->
        <div id="header">
            <div class="navbar-wrap wrapper-container">
                <div class="navbar">
                    <a href="/" class="navbar-brand">
                        <img src="/assets/img/logo.png" alt="eKom" class="logo">
                    </a>
                    <div class="navbar-list">
                        <ul class="nav">
                            <li>
                                <a href="#"> Home
                                    <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="subnav">
                                    <li class="subnav-item"><a href="">Demo - Headphone</a></li>
                                    <li class="subnav-item"><a href="">Demo - Watch</a></li>
                                    <li class="subnav-item"><a href="">Demo - Shoes</a></li>
                                </ul>
                            </li>
                            <li><a href="#">About Us</a></li>
                            <li><a href="#" style="color: #cd9453;">Shop <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="subnav">
                                    <li class="subnav-item"><a href="">Shop Layout <i
                                                class="fa-solid fa-angle-right"></i></a></li>
                                    <li class="subnav-item"><a href="">Shop Details</a></li>
                                    <li class="subnav-item"><a href="">Wishlist</a></li>
                                    <li class="subnav-item"><a href="">cart</a></li>
                                    <li class="subnav-item"><a href="">Chekout</a></li>
                                    <li class="subnav-item"><a href="">Track Order</a></li>
                                    <li class="subnav-item"><a href="">User Pages <i
                                                class="fa-solid fa-angle-right"></i> </a></li>
                                </ul>
                            </li>
                            <li><a href="#">Page <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="subnav">
                                    <li class="subnav-item"><a href="">FAQ</a></li>
                                    <li class="subnav-item"><a href="">Testimonails</a></li>
                                    <li class="subnav-item"><a href="">Term of service</a></li>
                                    <li class="subnav-item"><a href="">Privacy Policy</a></li>
                                    <li class="subnav-item"><a href="">404 Error Page</a></li>
                                </ul>
                            </li>
                            <li><a href="#">Blog <i class="fa-solid fa-angle-down"></i>
                                </a>
                                <ul class="subnav">
                                    <li class="subnav-item"><a href="">Blog Layout <i
                                                class="fa-solid fa-angle-right"></i></a>
                                    </li>
                                    <li class="subnav-item"><a href="">Single Layout <i
                                                class="fa-solid fa-angle-right"></i></a></li>
                                </ul>
                            </li>
                            <li><a href="#">Contact Us</a></li>
                            <li><button class="lg-mobile">Login</button></li>
                        </ul>
                    </div>
                    <div class="nav-option">
                        <div class="nav-lg">
                            <button class="lg-btn ">
                                <span class="btn-text">Login</span>
                            </button>
                        </div>
                        <div class="nav-search">
                            <button class="src-btn " type="button">
                                <i class="fa-solid fa-magnifying-glass"></i>
                            </button>
                        </div>
                        <div class="nav-shopping">
                            <button class="buy-btn">
                                <i class="fa-solid fa-cart-shopping">
                                    <span id="qty-items">0</span>
                                </i>
                            </button>
                        </div>
                        <div class="nav-menu">
                            <button class="menu-btn">
                                <i class="fa-solid fa-bars"></i>
                            </button>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <!-- Content Login Page -->
        <div id="content-wrapper">
            <div class="login-wrap">
                <div class="login-container">
                    <div class="login-form-wrap">
                        <div class="login-form-container">
                            <form id="login-form">
                                <div class="login-form">
                                    <h3>Login To Your Account</h3>
                                    <div class="login-form-body">
                                        <div class="form-group-wrap">
                                            <div class="form-group">
                                                <input id="email" name="email" type="email" required
                                                    placeholder="Email">
                                                <div class="error"></div>
                                            </div>
                                        </div>
                                        <div class="form-group-wrap">
                                            <div class="form-group">
                                                <input id="password" name="password" type="password" required
                                                    placeholder="Password">
                                                <div class="error"></div>
                                            </div>
                                        </div>
                                        <div class="form-check">
                                            <div class="checkbox">
                                                <input type="checkbox" id="test_1">
                                                <label for="test_1">
                                                    Remember Me
                                                </label>
                                            </div>
                                            <div class="check-pw">
                                                <a href="">
                                                    Forgot Password?
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-group-wrap">
                                            <div class="form-group">
                                                <button class="lg-form-btn" type="submit">
                                                    <span class="btn-text">Login</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form-group-wrap">
                                            <div class="or-text">
                                                <p>
                                                    Or
                                                </p>
                                                <a class="fb-btn">
                                                    <span class="btn-text">
                                                        <i class="fa-brands fa-facebook-f"></i>
                                                        Login With FaceBook
                                                    </span>
                                                </a>
                                                <a class="gg-btn">
                                                    <span class="btn-text">
                                                        <i class="fa-brands fa-google"></i>
                                                        Login With Google
                                                    </span>
                                                </a>
                                            </div>
                                        </div>
                                        <div class="form-footer">
                                            <div class="lg-form-footer">
                                                <p>
                                                    Don't Have an Account?
                                                </p>
                                                <a href="/register">Create One</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- Newsletter -->
        <div id="newsletter-section">
            <div class="newsletter-wrap wrapper-container">
                <div class="newsletter-item">
                    <div class="nl-title-container">
                        <div class="nl-title">
                            <h2>Subscribe Our Newsletter</h2>
                        </div>
                    </div>
                    <div class="nl-form-container">
                        <form action="#" class="form-wrap">
                            <input type="email" placeholder="Enter Your Email Address">
                            <button type="submit">Subscribe</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <!-- Footer Login Page -->
        <div id="footer-section">
            <div class="footer-wrap wrapper-container">
                <div class="footer">
                    <div class="footer-item">
                        <div class="footer-content-wrap">
                            <div class="footer-widget">
                                <a href="#">
                                    <img src="/assets/img/footerlogo.png" alt="Image">
                                </a>
                                <p>
                                    Lorem ipsum dolor sit amet consec tetur adisoom isotope elit eiusmod temporum
                                    incidunt labore dolore magna aliqu core tetur adip iscing eliteous sedun amet
                                    adisoom isotope.
                                </p>
                                <div class="social-icon">
                                    <h6>Follow Us:</h6>
                                    <ul>
                                        <li>
                                            <a target="_blank" href="https://facebook.com">
                                                <i class="fa-brands fa-facebook-f"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://twitter.com">
                                                <i class="fa-brands fa-twitter"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://linkedin.com">
                                                <i class="fa-brands fa-linkedin-in"></i>
                                            </a>
                                        </li>
                                        <li>
                                            <a target="_blank" href="https://instagram.com">
                                                <i class="fa-brands fa-instagram"></i>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="footer-infor">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Information</h3>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            About Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Our Shop
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Contact Us
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Refund Policy
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Privacy Policy
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-account">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Account</h3>
                                <ul class="footer-menu">
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            My Account
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            My Orders
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Returns
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Wishlist
                                        </a>
                                    </li>
                                    <li>
                                        <a href="#">
                                            <i class="fa-solid fa-angle-right"></i>
                                            Shipping
                                        </a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                        <div class="footer-contact">
                            <div class="footer-widget">
                                <h3 class="footer-widget-title">Get In Touch</h3>
                                <ul class="contact-info">
                                    <li>
                                        <i class="fa-solid fa-location-dot"></i>
                                        <h6>Location</h6>
                                        <p>2967 Sunrise Street, New York</p>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-envelope"></i>
                                        <h6>Email</h6>
                                        <a href="#">hello@eKom.com</a>
                                    </li>
                                    <li>
                                        <i class="fa-solid fa-phone"></i>
                                        <h6>phone</h6>
                                        <a href="#">+1-3454-5678-77</a>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <p class="footer-copyright">
                <i class="fa-regular fa-copyright"></i>
                2022
                <span>eKom</span>
                . All Rights Reserved By
                <a href="https://hibootstrap.com" target="_blank">HiBootstrap</a>
            </p>
        </div>
    </div>
    <div class="cart-popup">
        <button class="close-cart-popup">
            <i class="fa-solid fa-xmark"></i>
        </button>
        <div id="cart-list" class="cart-popup-body"></div>
        <div class="cart-popup-footer">
            <div class="total-pay">
                <h5>Total Payable</h5>
                <h5 id="total-price">$0</h5>
            </div>
            <div class="cart-popup-btn">
                <button class="view-cart-btn">
                    <span>View Cart</span>
                </button>
                <button class="checkout-btn">
                    <span>Checkout</span>
                </button>
            </div>
        </div>
    </div>
    <script></script>
    <script src="/assets/js/login.js"></script>
</body>

</html>