/* Responsive */
/* Mobile */ 
@media only screen and (max-width: 480px) {
    /* Navbar */
    #main {
        overflow-x: hidden;
       
    }
    #header {
        height: auto;
        width: auto;
    }
    .navbar-wrap {
        
    }
    .navbar-wrap .navbar {
        margin: 0;
    }
    .navbar-list {
    width: 100%;
    position: fixed;
    background: #fff;
    z-index: 999;
    top: 0;
    height: 100vh;
    left: -100%;
    padding: 55px 20px 30px;
    }
    .navbar-list .nav {
        flex-direction: column;
    }
    .navbar .nav-option { 

    }
    .nav-option .nav-lg .lg-btn {
        display: none;
    }
    .nav-option .nav-search {
        margin-left: 0px;
        margin-right: 0px;
    }
    .nav-search .src-btn {
        width: 45px;
        height: 45px;
    }
    .nav-search .ti-search {
        line-height: 45px;
    }
    .nav-shopping .buy-btn {
        margin: 15px;
        width: 45px;
        height: 45px;
    }
    .nav-menu {
    }
    .nav-menu .menu-btn {
        display: inline-block;
        width: 38px;
        height: 38px;
    }
    .navbar .navbar-brand {
        margin-right: 90px;
    }
    .navbar .navbar-brand img {
        max-width: 120px;
        height: 45px;
    }
    .navbar .navbar-list .nav {
        /* flex-direction: column; */
    }
/* Slider */
#slider-wrapper {
    height: auto;
}
#slider-wrapper .slider {
    padding: 40px 0 0;
}
.slider .container {
    margin: 0;
    padding: 0 12px;
    flex-direction: column;
}
.slider .slider-content {
    width: 100% ;
}
.container .slider-content > h1{
    font-size: 30px;
}
.container .slider-content > p {
    padding-right: 15px;
}
.play-video .play-text {
    display: none;
}
.container .slider-item {
    padding: 40px 0;
}
.slider-item .img-wrapper {
    position: relative;
    width: 85%;
    height: 283px;
    transform: translateX(90px);
}
.img-wrapper > span {
    font-size: 65px;
    left: 40%;
    top: 50%;
}
.container .slider-item > img {
    max-width: 300px;
    top: -250px;
    left: -30px;
}
/* Feature */
#feature-wrap {
    padding: 50px 0 25px;
}#feature-wrap .feature-section {
    margin: 0;
}
.feature-section .feature-items {
    flex-direction: column;
}
/* About */
#about-wrap .about-section {
    margin: 0;
    padding: 0 12px;
}
.about-items-wrap {
    flex-direction: column;
}
.about-img img {
    height: 350px;
    width: 336px;
    right: 45px;
}
.about-img > span {
    height: 350px;
    width: 336px;
    right: 70px;
}
.about-text-wrap {
    padding: 0;
    width: 100%;
}
.about-content h2 {
    font-size: 26px;
    line-height: 1.3;
}
.about-content span {
    font-size: 12px ;
}
.about-content p {
    font-size: 14px;
}
/* offer */
#offer-wrap {
    padding: 50px 0;
}
.offer-item {
    flex-direction: column-reverse;
    margin: 0;
    padding: 0 12px;
}
.offer-item .offer-text-wrap {
    width: 100%;
    padding: 0;
    margin-top: 30px;
}
.offer-text {
    padding: 20px
}
.offer-img-wrap {
    width: 100%;
}
.offer-img {
    padding: 0;
}
.offer-img img {
    margin: 0;
    width: 366px;
    height: 254px;
}
.offer-content h2 {
    font-size: 26px;
    line-height: 1.3;
}
.offer-content span {
    font-size: 12px;
}
/* Product */
#product-wrap {
    padding-top: 50px;
    padding-bottom: 50px;
}
.product-section {
    margin: 0;
}
.product-text {
    margin-bottom: 20px;
}
.product-text span {
    font-size: 12px;
}

.product-text h2 {
    font-size: 26px;
}
.product-item {
overflow: hidden;
}
.product-card-wrap {
    width: 400%;
}
.product-card-wrap input {
    display: none;
}
.product-card {
    width: 25%;
    transition: 1s;
}
.product-img {
    height: 356px;
    width: 366px;
}
.product-img img {
    padding: 15px 20px;
    height: 275px;
    top: 50px;
    left: 38px;
}
.label-product {
    display: flex;
    justify-content: center;
}
.label-product label {
    width: 32px;
    height: 5px;
    border-radius: 50px;
    position: relative;
    display: inline-block;
    background-color: #95959F;
    margin: 0 6px;
}
.label-product label:hover {
    background-color: var(--organge-color);
}
#product1:checked ~.slide-product1 {
    margin-left: 0%;
}
#product2:checked ~.slide-product2 {
    margin-left: -20%;
}
#product3:checked ~.slide-product3 {
    margin-left: -40%;
}
#product4:checked ~.slide-product4 {
    margin-left: -60%;
}
/* Reason */
#reason-wrap {
    padding-bottom: 50px;
}
#reason-wrap .reason-section {
    margin: 0;
    padding: 0 12px;
}
.reason-items-wrap {
    flex-direction: column;
}
.reason-img img {
    height: 350px;
    width: 336px;
    right: 45px;
}
.reason-img > span {
    height: 350px;
    width: 336px;
    right: 70px;
}
.reason-text-wrap {
    width: 100%;
    padding: 0;
}

.reason-content span {
    font-size: 12px;
}
.reason-content h2 {
    font-size: 26px;
    line-height: 1.3;
}
.reason-content p,
.rs-feature-text p {
    font-size: 14px;
}
.rs-feature-text {
    margin-left: 15px;
}
.rs-feature-text h3 {
    font-size: 18px;
    margin: 0 0 6px;
}
.rs-feature-icon i {
    font-size: 38px;
}
/* Promo */
#promo-wrap {
    padding-bottom: 25px;
}
#promo-wrap .promo {
    margin: 0;
}
.promo .promo-item-wrap {
    flex-direction: column;
}
.promo-text h3 {
    font-size: 18px;
    margin: 0 0 6px;
}
.promo-text p {
    font-size: 14px;
}
/* Blog */
#blog-wrap {
    padding: 50px 0 25px;
}
.blog {
    margin: 0;
}
.blog .blog-title {
    margin-bottom: 20px;
}
.blog-title span {
    font-size: 12px;
}
.blog-item {
    flex-direction: column;
}
.blog-title h2 {
    font-size: 26px;
    line-height: 1.3;
}
.blog-title p {
    font-size: 14px;
}
.blog-card-wrap {
    width: 100%;
    padding: 0;
}
/* Newsletter */
#newsletter-section {
    margin: 0;
}
.newsletter-wrap .newsletter-item {
    flex-direction: column;
}
#newsletter-section .newsletter-wrap {
    padding: 18px 20px 20px;
    margin-bottom: -75px;
}
.newsletter-item .nl-title-container, 
.newsletter-item .nl-form-container {
    width: 100%;
    padding: 0;
}
.nl-title h2 {
    font-size: 20px;
    text-align: center;
    margin-bottom: 15px;
}
.form-wrap input {
    height: 54px;
    padding: 16px 12px 12px;
}
.form-wrap button {
    position: relative;
    display: block;
    top: 0;
    left: 0;
    margin-top: 15px;
    width: 100%;
    padding: 19px 10px 17px;
}
/* Footer */
#footer-section {
    padding-top: 75px;
}
#footer-section .footer {
    margin: 0;
}
.footer .footer-item {
    flex-direction: column;
    padding: 50px 0 25px;
}
.footer-content-wrap p {
    margin: 18px 0 18px;
    padding-right: 10px;
    font-size: 14px;
}
.footer-item .footer-infor {
    width: 100%;
}
.footer-widget .footer-widget-title {
    font-size: 18px;
    margin-bottom: 18px;
    padding-bottom: 8px;
}
.footer-item .footer-content-wrap,
.footer-item .footer-account,
.footer-item .footer-contact {
    width: 100%;
    padding: 0;
}
.footer-copyright {
    font-size: 14px;
}
}