/* reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html {
    font-size: 16px;
    line-height: 26px;
    font-family: 'Josefin Sans', sans-serif;
}
.ti-angle-down {
    font-size: 10px;
}
.ti-angle-right {
    font-size: 10px;
    position: absolute;
    top: 55%;
    right: 15px;
    transform: translateY(-50%);
}
.wrapper-container {
    max-width: 1400px;
}
#main {
    
}
#header {
    position: fixed;
    top: 0;
    /* left: 0; */
    background-color: #fff;
    height: 88px;
    width: 100%;
    border-bottom: 1px solid rgba(0,0,0,.07);
    z-index: 10;
    
    
}
/* Navbar */
#header .navbar {
    margin-left: 82px;
    margin-right: 82px;
    display: flex;
    justify-content: space-between;
    

    
}
.navbar .navbar-brand {
    margin-right: 36px;
    margin-top: 14px;
    
    
}

.navbar .navbar-list {
    display: flex;
    
    
}
.navbar .navbar-list .nav {
    list-style: none;
    display: flex;
    margin: 0px 25px 0px;
    position: relative;
}
.navbar-list .nav a:hover {
    color: #cd9453;
}
.navbar-list .nav li:hover .subnav {
    display: block;
    
}
.navbar-list > ul > li > a {
    color: #000;
    text-decoration: none;
    padding: 30px 0;
    line-height: 88px;
    padding: 8px 12px;
}
.navbar-list .nav-option {
    display: flex;
    line-height: 88px;
    
}
.subnav {
    display: none;
    position: absolute;
    background-color: #fff;
    top: 85px;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 10%);
}
.subnav .subnav-item{
    position: relative;
    width: 250px;
    height: 46px;
    line-height: 46px;
    list-style: none;
    padding: 0 20px;

    
}

.subnav .subnav-item a  {
    text-align: left;
    color: #000;
    text-decoration: none;

    
    
}
.subnav .subnav-item a:hover {
    color: #cd9453;
    
}
.nav-option .nav-lg a {
    background-color: #000;
    color: #fff;
    text-decoration: none;
    padding: 18px 28px 18px;
    border-radius: 50px;
    text-align: center;
}
.nav-option .nav-search {
    margin: 0 25px;
}

.nav-search .src-btn {
    width: 52px;
    height: 52px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    color: #666;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);
}
.nav-search .ti-search {
    position: relative;
    font-size: 19px;
    line-height: 52px;


}
.nav-shopping .buy-btn {
    position: relative;
    width: 52px;
    height: 52px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    font-size: 22px;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(0 0 0 / 8%);

}
.buy-btn span {
    position: absolute;
    font-size: 11px;
    background-color: #cd9453;
    color: #fff;
    width: 18px;
    height: 18px;
    line-height: 18px;
    border-radius: 50%;
    top: 4px;
    right: 2px;
}
/* Slider */
#slider-wrapper {
    margin-top: 88px;
    width: 100%;
    height: 644px;
}
 #slider-wrapper .slider {
    background-color: #f9f9f9;
    padding: 80px 0;
}

.slider .container {
    position: relative;
    margin: 0 70px;
    padding: 0 12px;
    display: flex;
    align-items: center;
}

.container .slider-content {
    width: 50%;
}
.container .slider-content > span {
    display: block;
    color: #cd9453;
    letter-spacing: 2px;
}
.container .slider-content > h1 {
    font-size: 64px;
    font-weight: 800;
    margin-top: 10px;
    line-height: 1.2;
}
.container .slider-content > p {
    line-height: 1.8;
    color: #666;
    margin-top: 10px;
}
.slider-content .slider-btn {
    margin-top: 30px;
    
}
.slider-content .slider-btn > a {
    text-decoration: none;
}
.slider-btn .buy-sld {
    background-color: #cd9453;
    color: #fff;
    padding: 18px 30px;
    border-radius: 50px;
}
.slider-btn .buy-sld:hover {
    background-color: #212529;
}
.slider-btn .play-video {
    margin-left: 20px;
    
}
.play-video .play-btn {
    position: relative;
    width: 50px;
    height: 50px;
    background-color: #fff;
    border: none;
    border-radius: 50%;
    color: #cd9453;
    cursor: pointer;
    box-shadow: 0 5px 15px rgb(0 0 0 / 7%);
}
.play-btn .play-icon {
    font-size: 16px;
    position: relative;
    top: 2px;
    left: 1px;
}
.play-video .play-text {
    margin-left: 18px;
    color: #000;
    
}
.container .slider-item {
    padding: 100px 24px;

}
.slider-item .img-wrapper {
    position: absolute;
    top: 0;
    right: 0;
    background-color: #cd9453;
    width: 400px;
    height: 484px;
    border-radius: 15px;
}
.img-wrapper > span {
    position: relative;
    color: rgba(255,255,255,0.2);
    font-size: 75px;
    font-weight: 800;
    display: block;
    transform: rotate(-90deg) translateY(-50%);
    right: -165px;
    top: 159px;
}

.container .slider-item > img {
    display: block;
    max-width: 420px;
    position: relative;
    right: -15px;

}
/* Feature Section */
#feature-wrap {
    width: 100%;
    height: 428px;
    padding: 100px 0 75px;
   
}
#feature-wrap .feature-section {
    margin-left: 82px;
    margin-right: 82px;
}
.feature-section .feature-items {
    display: flex;
    
}.feature-items .card-wrap {
    padding: 0 12px;

}
.card-wrap .feature-card {
    background-color: #f3f4f6;
    padding: 25px 25px 20px;
    margin-bottom: 25px;
}
.feature-card .feature-icon  {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #333;
    
}
.feature-card .feature-icon i {
    color: #fff;
    font-size: 32px;
    position: relative;
    top: 15px;
    left: 14px;
}
.feature-card .feature-text h3 {
    font-size: 24px;
    margin-top: 25px;
    font-weight: 700;
}
.feature-card .feature-text p {
    margin-top: 10px;
    line-height: 1.6;
    text-align: justify;
}
/* About */
#about-wrap {
    padding-bottom: 100px;
}
#about-wrap .reason-section {
    margin: 0 70px;
    padding: 0 12px;
}
.about-items-wrap {
    display: flex;
    align-items: center;
}
.about-item {
    padding: 0 24px 54px 0 ;
    width: 50%;
}
.about-img {
    padding-bottom: 30px;
}
.about-img img {
    position: absolute;
    width: 504px;
    height: 650px;
    border-radius: 50px;
    z-index: 1;
}
.about-img > span {
    display: block;
    position: relative;
    background-color: #f3f4f6;
    width: 504px ;
    height: 650px;
    border-radius: 50px;
    bottom: -30px;
    right: -30px;
}
.about-text-wrap {
    padding: 0 24px;
    width: 50%;

}
.about-content span {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #cd9453;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 13px;
}
.about-content span::after {
    position: absolute;
    background-color: rgba(205,148,83,.25);
    content: "";
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
}
.about-content h2 {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.4;
}
.about-content p {
    margin-top: 10px;
}
.ab-feature-wrap {
    margin: 35px 0 30px;
}
.ab-feature-item {
    display: flex;
    margin-bottom: 25px;

}
.ab-feature-icon i {
    font-size: 46px;
    color: #cd9453;
}
.ab-feature-text {
    margin-left: 25px;
}
.ab-feature-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
}
.ab-btn > a {
    text-decoration: none;
    background-color: #cd9453;
    color: #fff;
    padding: 18px 30px;
    border-radius: 50px;
}
.ab-btn a:hover {
    background-color: #212529;
}
/* Partner */
#partner-wrap {
    padding-bottom: 100px;
}
.partner {
    margin-left: 82px;
    margin-right: 82px;
    
}
.partner-item {
    display: flex;
    width: calc(100% / 6 );
}
.partner-img {
    padding: 0 20px;
}
/* Offer */
#offer-wrap {
    padding: 100px 0;
    background-color: #f9f9f9;
}
.offer-section {
    margin-left: 82px;
    margin-right: 82px;
}
.offer-item {
    display: flex;
    text-align: center;
}
.offer-item .offer-text-wrap {
    padding: 0 24px;
    background-color: #fff;
    width: 50%;
    border-radius: 12px;
}
.offer-text {
    padding: 30px 30px;
}
.offer-text .offer-content {
    margin-bottom: 25px;
}
.offer-content span {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #cd9453;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 13px;
}
.offer-content span::after {
    position: absolute;
    background-color: rgba(205,148,83,.25);
    content: "";
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
}
.offer-content h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.4;
}
.offer-content p {
    margin-top: 10px;
}
.offer-text > a {
    text-decoration: none;
    background-color: #333;
    color: #fff;
    padding: 18px 30px;
    border-radius: 50px;
}
.offer-img-wrap {
    width: 50%;
}
.offer-img {
    padding: 0 24px;
}
.offer-img img {
    margin: 0 54px;
}
/* Production */
#product-wrap {
    padding-top: 100px;
    padding-bottom: 100px;
    
}
.product-section {
    margin-left: 70px;
    margin-right: 45px;
    padding: 0 12px;
}
.product-text {
    text-align: center;
    margin-bottom: 40px;
}
.product-text span {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #cd9453;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 13px;

}
.product-text span:after {
    position: absolute;
    background-color: rgba(205,148,83,.25);
    content: "";
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
}
.product-text h2 {
    font-size: 38px;
    font-weight: 700;
    line-height: 1.4;
}
.product-card-wrap {
    display: flex;
}
.product-card {
    margin-right: 22px;
    margin-bottom: 25px;
    width: 25%;
}
.product-img {
    background-color: #f3f4f6;
    border-radius: 10px;
    position: relative;
    height: 242px;
}
.product-img img {
    display: block;
    position: absolute;
    height: 202px;
    top: 20px;
    left: 22px;
    padding: 25px 30px;
    margin: 0 auto;

}
.product-img span {
    display: inline-block;
    position: absolute;
    padding: 4px 16px;
    color: #fff;
    background-color: #cd9453;
    border-radius: 50px;
    top: 20px;
    left: 14px;

}
.product-info {
    text-align: center;
    margin-top: 25px;
}
.product-info h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
.product-info p {
    color: #cd9453;
}
.product-info span {
    display: inline-block;
    color: #888;
    text-decoration: line-through;
    margin-left: 8px;
}

/* Why Choose */
#reason-wrap {
    padding-bottom: 100px;
}
#reason-wrap .reason-section {
    margin: 0 70px;
    padding: 0 12px;
}
.reason-items-wrap {
    display: flex;
    align-items: center;
}
.reason-item {
    padding: 0 24px 54px 0 ;
    width: 50%;
}
.reason-img {
    padding-bottom: 30px;
}
.reason-img img {
    position: absolute;
    width: 504px;
    height: 650px;
    border-radius: 50px;
    z-index: 1;
}
.reason-img > span {
    display: block;
    position: relative;
    background-color: #f3f4f6;
    width: 504px ;
    height: 650px;
    border-radius: 50px;
    bottom: -30px;
    right: -30px;
}
.reason-text-wrap {
    padding: 0 24px;
    width: 50%;

}
.reason-content span {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #cd9453;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 13px;
}
.reason-content span::after {
    position: absolute;
    background-color: rgba(205,148,83,.25);
    content: "";
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
}
.reason-content h2 {
    font-size: 38px;
    font-weight: 800;
    line-height: 1.4;
}
.reason-content p {
    margin-top: 10px;
}
.rs-feature-wrap {
    margin: 35px 0 30px;
}
.rs-feature-item {
    display: flex;
    margin-bottom: 25px;

}
.rs-feature-icon i {
    font-size: 46px;
    color: #cd9453;
}
.rs-feature-text {
    margin-left: 25px;
}
.rs-feature-text h3 {
    font-size: 24px;
    font-weight: 700;
    line-height: 1.4;
    margin-bottom: 10px;
}
.rs-feature-text h3:hover {
    color: #cd9453;
} 
/* Promo */
#promo-wrap {
    padding-bottom: 75px;
}
#promo-wrap .promo {
    margin: 0 70px;
    padding: 0 12px;
}
.promo .promo-item-wrap {
    display: flex;
}
.promo-item-wrap .promo-item {
    display: flex;
    margin-bottom: 25px;
    align-items: center;
}
.promo-item .promo-icon {
    width: 65px;
    height: 65px;
    background-color: rgba(205,148,83,.15);
    border-radius: 50%;
    position: relative;
    display: flex;
    justify-content: center;
}
.promo-icon i {
    font-size: 28px;
    color: #cd9453;
    position: absolute;
    bottom: 22px;
}
.promo-item .promo-text {
    width: calc(100% - 85px);
    margin-left: 25px;
    padding-right: 25px;
}
.promo-text h3 {
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
    line-height: 1.4;
}
.promo-text h3:hover {
    color: #cd9453;
}
.promo-text p {
    color: #666;
    line-height: 1.8;
}
/* Feedback */
#feedback-wrap {
   background-color: #f9f9f9;
   padding: 100px 0;
}
.feedback {
    margin: 0 70px;
    padding: 0 12px;
}
.feedback .feedback-title {
    text-align: center;
    margin-bottom: 40px;
}
.feedback-title span {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #cd9453;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 13px;
}
.feedback-title span::after {
    position: absolute;
    background-color: rgba(205,148,83,.25);
    content: "";
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
}
.feedback-title h2 {
    font-size: 38px;
    font-weight: 700;
}
.feedback-item {
    display: flex;
}
.feedback-item .client-wrap {
    margin-right: 22px;
}
.client-wrap .client-content {
    background-color: #fff;
    padding: 25px;
    margin-bottom: 25px;
    border-radius: 5px;
}
.client-icon {
    margin-bottom: 16px;
}
.client-icon i {
    color: #fec107;
}
.client-content > p {
    color: #666;
    line-height: 1.8;
    margin-bottom: 20px;
}
.client-info-wrap {
    display: flex;
}
.client-img img {
    width: 65px;
    height: 65px;
    border-radius: 50%;
}
.client-info {
    margin-left: 20px;
}
.client-info h4 {
    font-size: 22px;
    font-weight: 700;
    margin-bottom: 8px;
}
/* Blog */
#blog-wrap {
    padding: 100px 0 75px;
}
.blog {
    padding: 0 12px;
    margin: 0 70px;
}
.blog .blog-title {
    text-align: center;
    margin-bottom: 40px;
}
.blog-title span {
    display: inline-block;
    position: relative;
    padding: 5px 10px;
    color: #cd9453;
    letter-spacing: 4px;
    line-height: 1;
    margin-bottom: 13px;
}
.blog-title span::after {
    position: absolute;
    background-color: rgba(205,148,83,.25);
    content: "";
    width: 40%;
    height: 100%;
    top: 0;
    left: 0;
}
.blog-title h2 {
    font-size: 38px;
    font-weight: 700;
}
.blog-title p {
    color: #666;
    margin-top: 10px;
}
.blog-item {
    display: flex;
}
.blog-card-wrap {
    width: 33.33333%;
    padding: 0 12px;
}
.blog-card {
    margin-bottom: 25px;
}
.blog-card .blog-img img {
    width: 100%;
    display: block;
    border-radius: 10px 10px 0 0;
}
.blog-card .blog-info {
    background-color: #f3f4f6;
    border-radius: 10px;
    padding: 22px 25px;
}
.blog-meta {
    margin-bottom: 14px;
}
.blog-meta li {
    list-style: none;
    display: inline-block;
    font-size: 15px;
}
.blog-meta li i {
    font-size: 14px;
    color: #cd9453;
}
.blog-meta li a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
    padding-left: 5px;
}
.blog-meta li a:hover {
    color: #cd9453;
}
.blog-info h3 {
    font-size: 23px;
    font-weight: 600;
    margin-bottom: 12px;
}
.blog-info h3:hover {
    color: #cd9453;
    cursor: pointer;
}
.blog-info p {
    margin-bottom: 12px;
    color: #666;
}
.blog-info > a {
    text-decoration: none;
    color: #666;
}
.blog-info > a:hover {
    color: #cd9453;
}
#footer {

}

























































